
device-manage/guns-parent.iml
device-manage/guns-generator/guns-generator.iml
device-manage/guns-gateway/guns-generator.iml
device-manage/guns-core/guns-core.iml
device-manage/guns-api/guns-api.iml
device-manage/guns-admin/guns-admin.iml
device-manage/guns-api/target
device-manage/guns-core/target
device-manage/guns-gateway/target
device-manage/guns-generator/target
device-manage/guns-admin/target/*
.idea/*
/guns-admin/guns-admin.iml
guns-admin/target/
guns-api/target/
guns-core/target/
guns-gateway.log.2018-12-04.0.gz
guns-gateway/target/

guns-generator/target/
.idea/workspace.xml
*.DS_Store
*.gz
*.xml