<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.FixAssetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.FixAsset">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="enterprise_no" property="enterpriseNo" />
        <result column="device_name" property="deviceName" />
        <result column="device_model" property="deviceModel" />
        <result column="technique_target" property="techniqueTarget" />
        <result column="manufactor" property="manufactor" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="owner" property="owner" />
        <result column="is_fix" property="isFix" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <update id="updateBatch1" parameterType="java.util.List">
        update fix_asset
        set owner_email=
        <foreach collection="list" item="item" index="index"
                 separator=" " open="case ID" close="end">
            when #{item.id} then #{item.ownerEmail}
        </foreach>
        ,charge_email=
        <foreach collection="list" item="item" index="index"
                 separator=" " open="case ID" close="end">
            when #{item.id} then #{item.chargeEmail}
        </foreach>
        where id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <select id="likeSearch" resultType="com.stylefeng.guns.api.device.vo.HomepageVO">
        SELECT
            enterprise_no as enterpriseNo,
            device_name as deviceName,
            device_model as deviceModel,
            technique_target as techniqueTarget,
            manufactor as manufactor,
            charge as charge,
            owner as owner
        FROM
            fix_asset f
        WHERE
            (
                    f.`enterprise_no` LIKE CONCAT('%', #{context}, '%')
                    OR f.`device_name` LIKE CONCAT('%', #{context}, '%')
                    OR f.device_model LIKE CONCAT('%', #{context}, '%')
                    OR f.technique_target LIKE CONCAT('%', #{context}, '%')
                    OR f.manufactor LIKE CONCAT('%', #{context}, '%')
                    OR f.owner LIKE CONCAT('%', #{context}, '%')
                    OR f.charge LIKE CONCAT('%', #{context}, '%')
                )
    </select>

</mapper>
