<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.User">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="user_name" property="userName" />
        <result column="email" property="email" />
        <result column="user_pwd" property="userPwd" />
        <result column="phone" property="phone" />
        <result column="gender" property="gender" />
        <result column="number" property="number" />
        <result column="department" property="department" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
